body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
// #app {
// }

nav {
    padding: 20px;

    h4 {
        position: absolute;
        margin: 0;
    }

    .links>a {
        font-weight: bold;
        color: #2c3e50;
        margin: 0 5px;
        text-decoration: none;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

form {
    max-width: 350px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-top: 10px;
    }

    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgray;
        outline: none;
        text-align: center;
        font-size: 1em;
    }
    
    button {
        margin-top: 10px;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        background-color: #42b983;
        transition: 0.25s;

        &:hover {
            background-color: #6ccea2;
        }
    }
}


li {
    list-style-type: none;
}

