$main-color: #42b983;
$accent-color: rgb(87, 216, 87);
$warn-color: rgb(243, 41, 81);
$text-color: #2c3e50;

@mixin bigger-roundy($size) {
    border-radius: 25px;
    padding: $size*2px $size*4px;
}

body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $text-color;
}
// #app {
// }

nav {
    padding: 20px;

    h4 {
        position: absolute;
        margin: 0;
    }

    .links>a {
        font-weight: bold;
        color: $text-color;
        margin: 0 5px;
        text-decoration: none;

        &.router-link-exact-active {
            color: $main-color;
        }
    }
}

form {
    max-width: 350px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-top: 10px;
    }

    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgray;
        outline: none;
        text-align: center;
        font-size: 1em;
    }
    
    button {
        margin-top: 10px;
        border: none;
        background-color: $main-color;
        transition: 0.25s;
        @include bigger-roundy(5);

        &:hover {
            background-color: $accent-color;
        }
    }
}


li {
    list-style-type: none;
}

#card-holder {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: aliceblue;
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
}

#card {
    max-width: 250px;
    margin: 20px auto 0;
    color: whitesmoke;
    background-color: $warn-color;
    @include bigger-roundy(1);
}