$main-color: #42b983;
$accent-color: #57d857;
$warn-color: rgb(243, 41, 81);
$text-color: #2c3e50;

@mixin bigger-roundy($size) {
    border-radius: 25px;
    padding: $size*2px $size*4px;
}

body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $text-color;
}

li {
    list-style-type: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: $text-color;
}

nav {
    padding: 20px;

    h4 {
        position: absolute;
        margin: 0;
    }

    .links>a {
        font-weight: bold;
        margin: 0 5px;

        &.router-link-exact-active {
            color: $main-color;
        }
    }
}

form {
    max-width: 350px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-top: 10px;
    }

    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgray;
        outline: none;
        text-align: center;
        font-size: 1em;
    }

    button {
        margin-top: 10px;
        border: none;
        background-color: $main-color;
        transition: 0.25s;
        @include bigger-roundy(5);

        &:hover {
            background-color: $accent-color;
        }
    }
}

#card-holder {
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
}

#card {
    max-width: 250px;
    margin: 20px auto 0;
    color: whitesmoke;
    background-color: $warn-color;
    @include bigger-roundy(1);
}

.product-single {
    align-items: center;
    display: grid;
    grid-template: auto / 200px 100px 100px auto 50px;
    margin: 10px 20px;
    padding: 20px;
    background: linear-gradient(90deg,
            $accent-color 23%,
            $main-color 100%);
    border-radius: 25px;

    & h2,
    h4,
    p {
        margin: 0;
    }

    &.Dairy {
        background: linear-gradient(90deg, rgba(240, 240, 240, 1) 23%, rgba(213, 213, 213, 1) 100%);
    }

    &.Bakery {
        background: linear-gradient(90deg, rgba(247, 187, 114, 1) 23%, rgba(210, 107, 41, 1) 100%);
    }

    &.Meat {
        background: linear-gradient(90deg, rgba(250,220,204,1) 23%, rgba(249,197,171,1) 100%);
    }

    &.Beverages {
        background: linear-gradient(90deg, rgba(184,234,252,1) 23%, rgba(123,219,254,1) 100%);
    }
}
// Route animation on change
.route-enter-from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  .route-enter-active,
  .route-leave-active {
    transition: all 0.2s ease-out;
  }
  
  .route-leave-to {
    opacity: 0;
    transform: translateY(100px);
  }